body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff;
    background-color:  #4CAF50;
    word-spacing: 15px;
    line-height: 4rem;
    width: 100%;
}

.rotate-text {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    
}

.rotate-text span {
    display: inline-block;
    transform-origin: center;
    animation: rotateText 4s linear infinite;
    margin: 0 10px;
}

.rotate-text span{
    animation-iteration-count: 2; /* Rotate twice */
    animation-fill-mode: forwards; /* Stop at the end of the animation */
}



@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.input-form {
    text-align: center;
    margin: 10rem 0;
}

.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #006400;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #011405;
}

.hidden {
    display: none;
}

#outputText{
    font-size: 3rem;
    line-height: 4rem;
    padding: 20px;
    margin: 20px;
}

@media (max-width: 768px) {
    /* Adjust styles for screens up to 768px wide */
    .rotate-text span {
        font-size: 14px;
    }
    .rotate-text span {
        font-size: 14px;
    }
    #outputText {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    /* Adjust styles for screens up to 480px wide */
    .rotate-text span {
        font-size: 12px;
    }

    #outputText {
        font-size: 20px;
    }
}